<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>Underline StrikeThrough.py</string>
			<key>preferredName</key>
			<string>Underline Strikethrough</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Ben Kiel</string>
	<key>developerURL</key>
	<string>http://www.typefounding.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Underline Strikethrough</string>
	<key>timeStamp</key>
	<real>1421681311</real>
	<key>version</key>
	<string>1.1</string>
	<key>repository</key>
	<string>Typefounding/underlineStrikethrough</string>
</dict>
</plist>
